.body {
    padding:0px;
}
 /* 导航栏start */
/* Stackoverflow preview fix, please ignore */
.navbar {
    background-color: #ffffff;
  }
  .navbar-nav {
    flex-direction: column  ;
  }
  
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
  
  /* Fixes dropdown menus placed on the right side */
  .ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }
  /* 导航栏end */
  
.container {
    margin-top: 200px;
    text-align:center; 
    
}
.table {
    padding: 50px;
    width:300px;
    height:120px;  
    margin:0px auto;
    text-align: center;
}

.table table-striped {
    padding:0px;
    padding-left: 30px;
    padding-right: 40px;
   
}
.btn btn-default {
    float:right;
}