.page-footer {
    background: linear-gradient(90deg, #5c5558 0%, #242a39 28%, #2d3543 30%, #231b0b 65%, #5c5857 100%);
    /* padding-top: 20px; */

  }
    .school-contact-text{
      color:gray;  
      text-align: left;
    }

  .list-inline-item {
    color: #ffffff;
  }

  .footer-copyright1 {
      color:gray;
      text-align:center;
      margin-top: 15px;
      margin-bottom: 15px;

  }

  .footer-copyright {
    color: #ffffff;
  }

  .tan {
    height: 100px;
  }
