
 .page-footer{
    background:linear-gradient(90deg, #5c5558 0%,#242a39 28%,#2d3543 30%,#231b0b 65%,#5c5857 100% );
    padding-bottom: 0;
   }
   .list-inline-item{
     color:#ffffff;
   }
   .footer-copyright{
     color:#ffffff;
   }
   