.body {
    padding:0;
}
.head {
    height: 100px;
    width: 100%;
    background-color: rgba(233, 235, 236); 
    font-family: PingFangSC-Regular,PingFang SC;
    position: relative;
    background-size: 100% 100%;
}
.smallhead {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px;
    position: relative;
}

.img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 0px;
    background-color: #fff;
    margin-left: 5%;
}

.return {
    position:absolute;
    right:20px;
    top:50%;
}

ul.nav-tabs {
    width: 140px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

ul.nav-tabs li {
    margin: 0;
    border-top: 1px solid #ddd;
}

ul.nav-tabs li:first-child {
    border-top: none;
}

ul.nav-tabs li a {
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}

ul.nav-tabs li.active a,
ul.nav-tabs li.active a:hover {
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}

ul.nav-tabs li:first-child a {
    border-radius: 4px 4px 0 0;
}

ul.nav-tabs li:last-child a {
    border-radius: 0 0 4px 4px;
}

ul.nav-tabs.affix {
    top: 30px;
}

.infobox {
    padding: 20px;
}
.info {
    width:50%;
    height:120px;   
}
.info td {
    padding: 20px;
}
.row {
    width:100%;
}

.biaoti{
    font-size:20px;
}
