.body {
    padding:0px;
}
.container {
    width:100px;
    margin-top: 100px;
    text-align:center; 
    
}
.exit{
    float: right;
    font-size: large;
    
  }
  h3{
      font-size: large;
      text-align: center;
  }
  p{
      text-align: center;
  }
.table {
    text-align: center;
}
.table th {
    text-align: center;
    background-color: rgb(233, 235, 236,0.1);
}